<a href="https://colab.research.google.com/github/PrathameshBawane/Cloud-Counselage-Internship-projects/blob/main/Basic_Level_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Calculation Of Graduation Year**

In [1]:
import pandas as pd

#dataset loading
file_path = "/content/Final Lead Data.xlsx"
df = pd.read_excel(file_path)

#Checking initial data
print("Initial columns:", df.columns.tolist())
df.head()

Initial columns: ['ID', 'First Name', 'Email', 'Gender', 'City', 'Created', 'Position', 'New College Name', 'Colleges', 'Academic Year', 'Branch/ Specialisation', 'Other Branch', 'What is your current academic year?', 'Company Name/ College Name', 'Would you like to know more about us and our programs?', 'Are you interested in knowing more about our events?', 'Have you recommended Cloud Counselage to anyone?', 'How did you come to know about this event?']

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN

In [9]:
#Parse the 'Created' column as defined format
df['Created'] = pd.to_datetime(df['Created'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

In [10]:
#Extracting admission year and calculating graduation year
df['Admission_Year'] = df['Created'].dt.year
df['Year_of_Graduation'] = df['Admission_Year'] + 4

In [11]:
#Preparing output DataFrame
output_df = df[['ID', 'First Name', 'Email', 'Year_of_Graduation']]
output_df = output_df.sort_values(by='ID')

In [6]:
#Saving to Excel
output_path = "/content/Clean-Data-yr-of-graduation.xlsx"
output_df.to_excel(output_path, index=False)

In [7]:
print(f"✅ Output saved to: {output_path}")

✅ Output saved to: /content/Clean-Data-yr-of-graduation.xlsx

## **Prediction Of Placement Status**

In [54]:
train_df

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,NaN,Art of Resume Building,2.213855e+09,NaN,Free Order,USD,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,1.0
1,Dhanshree,dhanshree@xyz.com,1,NaN,Art of Resume Building,2.213859e+09,NaN,Free Order,USD,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,0.0
2,Dhiraj,dhiraj@xyz.com,1,NaN,Art of Resume Building,2.213862e+09,NaN,Free Order,USD,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,0.0
3,Pooja,pooja@xyz.com,1,NaN,Art of Resume Building,2.213988e+09,NaN,Free Order,USD,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,0.0
4,Aayush,aayush@xyz.com,1,NaN,Art of Resume Building,2.214567e+09,NaN,Free Order,USD,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,Saif ali,saifali@xyz.com,1,NaN,Data Visualization using Power BI,1.949319e+09,NaN,Free Order,USD,0,...,Attending,"mit academy of engineering ,alandi",NaN,NaN,Students,2021,9.0,3,2,NaN
4890,Lankesh,lankesh@xyz.com,1,NaN,Data Visualization using Power BI,1.949328e+09,NaN,Free Order,USD,0,...,Attending,a. c. patil college of engineering,NaN,NaN,Students,2021,7.2,4,3,NaN
4891,Sanjay,sanjay@xyz.com,1,NaN,Data Visualization using Power BI,1.949328e+09,NaN,Free Order,USD,0,...,Attending,wilson college,NaN,NaN,Students,2021,8.5,2,3,NaN
4892,Sushmita,sushmita@xyz.com,1,NaN,Data Visualization using Power BI,1.949330e+09,NaN,Free Order,USD,0,...,Attending,"ld college of engineering, ahmedabad, gujarat",NaN,NaN,Students,2021,6.5,5,5,NaN
4893,Vipul,vipul@xyz.com,1,NaN,Data Visualization using Power BI,1.949332e+09,NaN,Free Order,USD,0,...,Attending,dkte society's textile and engineering institu...,NaN,NaN,Students,2021,6.6,4,5,NaN

In [55]:
test_df

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,Sahil,sahil@xyz.com,1,NaN,Hello ML and DL,2.293940e+09,NaN,Free Order,USD,0,...,Attending,"symbiosis institute of technology, pune",Whatsapp,NaN,Students,NaN,7.8,3,3,NaN
1,Amrita,amrita@xyz.com,1,NaN,Hello ML and DL,2.293941e+09,NaN,Free Order,USD,0,...,Attending,"mit academy of engineering ,alandi",Whatsapp,NaN,Students,NaN,9.1,3,3,NaN
2,Mamta,mamta@xyz.com,1,NaN,Hello ML and DL,2.293941e+09,NaN,Free Order,USD,0,...,Attending,a. c. patil college of engineering,Whatsapp,NaN,Students,NaN,6.9,2,2,NaN
3,Bhagyashri,bhagyashri@xyz.com,1,NaN,Hello ML and DL,2.293946e+09,NaN,Free Order,USD,0,...,Attending,wilson college,Others,NaN,Students,NaN,8.4,4,4,NaN
4,Divyanshu,divyanshu@xyz.com,1,NaN,Hello ML and DL,2.293956e+09,NaN,Free Order,USD,0,...,Attending,"ld college of engineering, ahmedabad, gujarat",Whatsapp,NaN,Students,NaN,6.7,5,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3791,Saif ali,saifali@xyz.com,1,NaN,Data Visualization using Power BI,1.949319e+09,NaN,Free Order,USD,0,...,Attending,"mit academy of engineering ,alandi",NaN,NaN,Students,2021,9.0,3,2,NaN
3792,Lankesh,lankesh@xyz.com,1,NaN,Data Visualization using Power BI,1.949328e+09,NaN,Free Order,USD,0,...,Attending,a. c. patil college of engineering,NaN,NaN,Students,2021,7.2,4,3,NaN
3793,Sanjay,sanjay@xyz.com,1,NaN,Data Visualization using Power BI,1.949328e+09,NaN,Free Order,USD,0,...,Attending,wilson college,NaN,NaN,Students,2021,8.5,2,3,NaN
3794,Sushmita,sushmita@xyz.com,1,NaN,Data Visualization using Power BI,1.949330e+09,NaN,Free Order,USD,0,...,Attending,"ld college of engineering, ahmedabad, gujarat",NaN,NaN,Students,2021,6.5,5,5,NaN
3795,Vipul,vipul@xyz.com,1,NaN,Data Visualization using Power BI,1.949332e+09,NaN,Free Order,USD,0,...,Attending,dkte society's textile and engineering institu...,NaN,NaN,Students,2021,6.6,4,5,NaN

In [81]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
import os

# Loading data
train_path = '/content/01 Train Data.xlsx'
test_path = '/content/02 Test Data.xlsx'

train_df = pd.read_excel(train_path)
test_df = pd.read_excel(test_path)

# Mapping target column
train_df["Placement Status"] = train_df["Placement Status"].map({"Placed": 1, "Not placed": 0})
target_column = "Placement Status"

# Dropping non-feature columns
drop_columns = [
    'First Name', 'Email ID', 'Attendee #', 'College Name',
    'Specify in "Others" (how did you come to know about this event)',
    target_column
]

X = train_df.drop(columns=drop_columns)
y = train_df[target_column]
X_test = test_df.drop(columns=drop_columns[:-1])  # test data, no target

# Getting all columns in training data
train_columns = X.columns

# Ensuring test data has the same columns as training data
# Adding missing columns to test data and fill with a default value (e.g., 0)
for col in train_columns:
    if col not in X_test.columns:
        X_test[col] = 0  # Filling with 0 or another appropriate default value

# Removing columns that are completely NaN in train
cols_all_nan = X.columns[X.isna().all()].tolist()
X = X.drop(columns=cols_all_nan)
#Ensuring X_test has the same columns as X after dropping NaN columns:
X_test = X_test.drop(columns=cols_all_nan, errors='ignore')  # Ignore if cols_all_nan not in X_test


# Impute
imputer = SimpleImputer(strategy="most_frequent")
X = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)


X_test = X_test[X.columns]
X_test = pd.DataFrame(imputer.transform(X_test), columns=X_test.columns)


train_df = train_df.dropna(subset=[target_column])

# Redefining X and y after dropping NaN rows
X = train_df.drop(columns=drop_columns)
y = train_df[target_column]

#Removing columns with all NaN values from X and X_test after dropping NaN rows:
X = X.drop(columns=[col for col in X.columns if X[col].isnull().all()])
X_test = X_test.drop(columns=[col for col in X_test.columns if X_test[col].isnull().all()], errors='ignore')

# Ensuring X and X_test have the same columns again after potentially dropping more NaN columns:
X_test = X_test[X.columns]

# Encoding categorical variables, handling unseen labels
encoders = {}
for column in X.columns:
    if X[column].dtype == object or isinstance(X[column][0], str):
        le = LabelEncoder()
        # Fit on combined unique values from both train and test
        all_values = pd.concat([X[column], X_test[column]]).unique()
        le.fit(all_values.astype(str))

        X[column] = le.transform(X[column].astype(str))
        # Handle unseen labels in test data during transform
        X_test[column] = X_test[column].astype(str).map(lambda s: le.transform([s])[0] if s in le.classes_ else -1) #-1 represents unseen label

        encoders[column] = le

# Training model
model = RandomForestClassifier(n_estimators=200, max_depth=10, random_state=42)
model.fit(X, y)

# Evaluating accuracy
cv_scores = cross_val_score(model, X, y, cv=5, scoring='accuracy')
print(f"Cross-validated accuracy: {cv_scores.mean():.4f}")

# Making predictions
predictions = model.predict(X_test)
predicted_labels = ["Yes" if pred == 1 else "No" for pred in predictions]

# Creating the directory
output_dir = os.path.dirname(output_path)
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Saving output
output_df.to_excel(output_path, index=False)


output_df = test_df[["First Name", "Email ID"]].copy()
output_df["Predicted Placement"] = predicted_labels
output_path = "/mnt/data/Predicted_Placement_Output.xlsx"
output_df.to_excel(output_path, index=False)

print(f"Predictions saved to: {output_path}")

Cross-validated accuracy: 0.6238
Predictions saved to: /mnt/data/Predicted_Placement_Output.xlsx